<!DOCTYPE html>
<html>
<head>
    <title>
    @if (this.ViewData.ContainsKey("title"))
    {
        @this.ViewData["title"];
    } else
    {
        this.WriteLiteral("PC Personnel");
    }
    </title>
    <link rel="stylesheet" href="site.css" />
</head>
<body>
    <nav>
        <partial name="_LoginPartial" />
    </nav>
    @RenderBody()
</body>
</html>