body {
    font-family: sans-serif;
}

main.person-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main.person-details section {
    grid-column: auto;
}

main.person-details section.presence {
    grid-column-start: 1;
    grid-column-end: 3;
}

dl {
    display: grid;
    grid-template-columns: auto 1fr;
}

dt {
    grid-column: 1;
    font-weight: bold;
}

dd {
    grid-column: 2;
}

main.stats {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

main.stats section {
    grid-column: auto;
}

.rollcall td, .rollcall th {
    border: 1px solid black;
}

.rollcall table {
    border-collapse: collapse;
}