@page
@model PCPersonnel.Pages.IndexModel
@{
}
<header>
    <h1>PC Personnel</h1>
</header>
<main>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="ExcelFile" />

        <button type="submit">Submit</button>
    </form>
</main>