@page
@model PCPersonnel.Pages.IndexModel
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<header>
    <h1>PC Personnel</h1>
</header>
<main>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="excelFile" />

        <button type="submit">Mettre à jour</button>
    </form>

    <h2>Liens</h2>
    <ul>
        <li><a href="/People">Personnes</a></li>
        <li><a href="/Stats?date=@(DateTime.Now.Date.ToString("yyyy-MM-dd"))">Stats</a></li>
        <li><a href="/RollCalls?date=@(DateTime.Now.Date.ToString("yyyy-MM-dd"))">Listes d'appel</a></li>
    </ul>
</main>